.subject {
    display: inline;
}

.sender {
    display: inline;
}

.date {
    display: inline;
}

.body {
    display: none;
}

.bodyMsg {
    padding: 5px;
    border: 2px solid blue;
}

.senObj {
    display: inline;
}

.datObj {
    display: inline;
}

.subObj {
    display: inline;
}

.bodObj {
    display: none;
}

.newMsgPar {
    padding: 5px;
    border: 2px solid blue;
}

.newCount {
    display: inline;
}